{% extends "base.html" %}
{% block head_title %} <title>Ingresar Usuario</title> {% endblock head_title %} 
{% block main_h2%} <h2> ¡Bienvenido! Ingresa a nuestro sistema </h2> {% endblock main_h2%}
{% block contiene_section %}
{% csrf_token %}
<form method="post" action="{% url 'ingresarusuario' %}">
<p><label for="usuario">Nombre de Usuario</label> <input type="text" name='usuario' id='usuario' required></p>
<p><label for="password">Password: </label> <input type='password' name='password' id='password' required> </p>

<p><input type="submit" value="Enviar datos" ></p>

</form>
{% endblock contiene_section %}
