{% extends 'base.html'%}
{% block head_title %} <title>Lista Productos</title> {% endblock head_title %} 
{% block contiene_section %}

<form action="">
<input type="text" name="nombre" placeholder="Buscar Producto">
<input type="submit" value="Buscar"> 
</form>
     <h1>Lista de Productos</h1>

    <ul>
        {% for producto in productos %}
            <li>
                <a href="{% url 'detalle_producto' producto.id %}">{{ producto.nombre }}</a>
                <p>Descripción: {{ producto.descripcion }}</p>
                <p>Precio: ${{ producto.precio }}</p>
            </li>
        {% endfor %}
    </ul>
{% endblock contiene_section %}

  
