#Metodo de Pago:<br>

#   <select name="medotopago" id="pago">
#        <option value="selecciona" name='opciones'>Selecciona un metodo de pago</option>
#       <option value="tarjetac" name='tarjetac'>Tarjeta de Credito</option>
#        <option value="tarjetad" name='tarjetad'>Tarjeta de Debito</option>
#        <option value="efectivo" name='efectivo'>Efectivo</option>
#        <option value="transferencia" name='transferencia'>Tranferencia</option>
#        <option value="mp" name='mp'>Mercado Pago</option>
#        <option value="combinado" name='combinado'>Combinado</option>
#      </select>

#  </p>
